node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler

# Tauri
src-tauri/target
src-tauri/gen/schemas

# Added by repo-ready
/target
.env.local
.env.*.local
*.log
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
